<footer class="site-footer" role="contentinfo">
  <div class="row-wrapper">
    <div class="outer-container">

    <div class="footer-logo">
      <img src="{{ "/assets/img/face.png" }}" alt="Caricatura di Giuseppe Nardella">
    </div>

      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <svg class="icon icon-github ">
              <use xlink:href="{{ "/assets/img/svg-icons/symbol-defs.svg#icon-github" | prepend: site.baseurl }}"></use>
            </svg>
            <span>{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %} {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <svg class="icon icon-twitter ">
              <use xlink:href="{{ "/assets/img/svg-icons/symbol-defs.svg#icon-twitter" | prepend: site.baseurl }}"></use>
            </svg>
            <span>{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>

      <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>


      <div class="footer-description">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript " src="{{ " /assets/js/vendors/jquery-2.2.3.min.js " | prepend: site.baseurl }} "></script>
<script type="text/javascript " src="{{ " /assets/js/vendors/svgxuse.js " | prepend: site.baseurl }} "></script>
<script type="text/javascript " src="{{ " /assets/js/vendors/prism.js " | prepend: site.baseurl }} "></script>
<script type="text/javascript " src="{{ " /assets/js/custom/scripts.js " | prepend: site.baseurl }} "></script>
