/* -------------------------------------------------------
*  11.0 Content
*  ------------------------------------------------------*/


/*
* 11.1 Header
*/

.site-branding {
  @include span-columns(4);
  @include omega();
  .site-title {
    a {
      border-bottom: none;
    }
    @include media($medium) {
      text-align: center
    }
  }
}

.main-navigation {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  &.is-z-index {
    z-index: 1;
  }
  .menu-button {
    font-size: 1.5em;
    position: absolute;
    min-width: unset;
    border: none;
    border-radius: 0;
    padding: 0.6em;
    margin: 0;
    right: 1em;
    z-index: 100;
    &:hover,
    &:focus {
      background-color: transparent;
      color: $text-color;
    }
    &:active {
      border-color: inherit;
    }
    svg {
      @include transition (all 0.3s ease-out);
      display: inline-block;
      width: 24px;
      height: 24px;
      vertical-align: middle;
      path {}
    }
    &.is-toggled {
      svg {
        transform: rotate(0.25turn);
        path {
          fill: #fff;
        }
      }
    }
    @include media($medium) {
      visibility: hidden;
    }
  }
}

ul.main-nav {
  list-style: none;
  padding: 80px 0 0 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: transparentize($base-theme-color, 0.1);
  @include transition (left 0.3s ease-out);
  &.is-toggled-on {
    left: 0;
  }
  li {
    padding: 0.4em;
    text-align: center;
    visibility: hidden;
    &.is-visible {
      visibility: visible;
    }
    a {
      font-family: $font-family-headings;
      color: #FFFFFF;
      font-size: 1.4em;
      font-weight: 700;
      border-bottom: 0;
    }
  }
  @include media($medium) {
    text-align: center;
    padding-top: 40px;
    position: static;
    width: auto;
    top: auto;
    bottom: auto;
    left: auto;
    background-color: transparent;
    li {
      visibility: visible;
      display: inline-block;
      a {
        color: #000000;
        font-weight: 400;
        &.active {
          color: #ffffff;
          background-color: $base-theme-color;
        }
        &:hover,
        &:focus {
          @include link-focus;
        }
      }
    }
  }
}


/*
* 11.2 Post ang Pages
*/

.post-list {
  list-style: none;
  padding: 0;
}

.post-title {
  font-size: em(28);
  margin: 1em 0 0.8em 0;
}

.post-meta {
  time {
    font-size: 0.9em;
    font-family: $font-family-headings;
    font-style: italic;
    font-weight: bold;
  }
}

.post-categories {
  list-style: none;
  padding: 0;
  li {
    color: $base-theme-color;
    display: inline-block;
    font-size: 0.9em;
    font-family: $font-family-headings;
    font-style: italic;
    font-weight: bold;
    margin-right: 0.5em;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $base-theme-color;
      &::before {
        content: "#";
      }
    }
  }
}

a {
  &.post-read-more {
    color: $base-theme-color;
    font-family: $font-family-headings;
    font-size: 0.9em;
    font-weight: bold;
    &:focus,
    &:hover {
      @include link-focus;
    }
  }
}


/*
* 11.4 Comments
*/

.bypostauthor {
  background: inherit;
}


/*
* 11.6 Footer
*/

.site-footer {
  text-alingn: center;
  background-color: #222222;
  * {
    color: #ffffff;
  }
  a {
    &:link,
    &:visited {
      color: #ffffff;
    }
    &:active,
    &:focus {
      outline-color: #ffffff;
    }
  }
}

.footer-avatar {
  padding: 2em 0 1em 0;
  img {
    display: block;
    width: 130px;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.social-media-list {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;
    &:last-child {
      margin-right: 0;
    }
    a {
      border-bottom: none;
    }
  }
}

.footer-copy {
  padding: 0.4em 0 2em 0;
  border-top: 1px solid #ffffff;
  text-align: center;
  p {
    font-size: 0.8em;
    margin: 0.2em;
  }
}
