/* -------------------------------------------------------
*  10.0 Content
*  ------------------------------------------------------*/


/*
* 10.1 Header
*/

.site-branding {
  @include span-columns(4);
  @include omega();
  .site-title {
    a {
      border-bottom: none;
    }
    @include media($medium) {
      text-align: center
    }
  }
}


/*
* 10.2 Post ang Pages
*/

.post-list {
  list-style: none;
  padding: 0;
}

.post-title {
  font-size: em(28);
  margin: 1em 0 0.8em 0;
}

.post-meta {
  time {
    font-size: 0.9em;
    font-family: $font-family-headings;
    font-style: italic;
    font-weight: bold;
  }
}

.post-categories {
  list-style: none;
  padding: 0;
  li {
    color: $base-theme-color;
    display: inline-block;
    font-size: 0.9em;
    font-family: $font-family-headings;
    font-style: italic;
    font-weight: bold;
    margin-right: 0.5em;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    a {
      color: $base-theme-color;
      &::before {
        content: "#";
      }
    }
  }
}

a {
  &.post-read-more {
    color: $base-theme-color;
    font-family: $font-family-headings;
    font-size: 0.9em;
    font-weight: bold;
    &:focus,
    &:hover {
      @include link-focus;
    }
  }
}


/*
* 10.4 Comments
*/

.bypostauthor {
  background: inherit;
}


/*
* 10.6 Footer
*/

.site-footer {
  text-alingn: center;
  background-color: #222222;
  * {
    color: #ffffff;
  }
  a {
    &:link,
    &:visited {
      color: #ffffff;
    }
    &:active,
    &:focus {
      outline-color: #ffffff;
    }
  }
}

.footer-avatar {
  padding: 2em 0 1em 0;
  img {
    display: block;
    width: 130px;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.social-media-list {
  list-style: none;
  padding: 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5em;
    &:last-child {
      margin-right: 0;
    }
    a {
      border-bottom: none;
    }
  }
}

.footer-copy {
  padding: 0.4em 0 2em 0;
  border-top: 1px solid #ffffff;
  text-align: center;
  p {
    font-size: 0.8em;
    margin: 0.2em;
  }
}


/*
* 11.7 Search
*/

#search-input {
  margin-top: 1.5em;
}

#results-container {
  display: none;
  margin-bottom: 0;
  list-style: none;
  padding: 1em;
  border: 1px solid $border-color;
  li {
    a {
      border-bottom: 0;
    }
  }
}
