/*Figures*/
figure {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

figcaption {
  font-size: 0.7em;
}

/*Images*/
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  @include media($medium){
  &.half {
    width: 47%;
  }
  &.third {
    width: 30.5%;
    }
  }
}

