/* -------------------------------------------------------
*  7.0 Accessibility
*  -------------------------------------------------------*/

.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  background-image: none;

  &:hover, &:active, &:focus {
    top: 5px;
    left: 5px;
    z-index: 100000; /* Above WP toolbar */
    clip: auto !important;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    font-family: $font-family-headings;
    font-weight: bold;
    color: $base-theme-color;
    background-color: $body-bg;
    background-image: none;
  }
}
