/* ----------------------------------------------------------------------------
 * 2.0 Globals
 * ------------------------------------------------------------------------- */

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* Set box-sizing to border-box */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  background: $body-bg;
  font-size: em(16);
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  @include media($small) {
    font-size: em(18);
  }
  @include media ($medium) {
    font-size: em(21);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background-color: transparent;
  font-family: $font-family-base;
  //font-size: $font-px-base;
  //font-size: $font-rem-base;
  font-style: normal;
  font-weight: normal;
  line-height: $line-height;
  //letter-spacing: 0.025em;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
}



