/* -------------------------------------------------------
*  4.0 Elements
*  ------------------------------------------------------*/

/* Lists */
dl, ul, ol {
  margin-top: 0;
  margin-bottom: 1.5em;
}

dt {
  font-weight: 700;
}

dd{
  margin: 0 0 0 1.5em;
}
