/* -------------------------------------------------------
*  6.0 Navigation
*  ------------------------------------------------------*/

/*
*  6.1 Links
*/

a {
  @include transition (outline-offset 0.2s ease);
  &:link,
  &:visited {
    text-decoration: none;
    color: $text-color;
    border-bottom: 1px solid currentColor;
  }
  &:active,
  &:focus {
    @include link-focus;
    border-bottom-color: currentColor;
  }
  &:hover {
    cursor: pointer;
  }
}

/*
*  6.2 Menus
*/
