/*------ TABLES ------*/
table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 1.5em;

  @include media ($medium) {
    font-size: .7em;
  }

  @include media($large) {
    font-size: 0.7em;
  }

  thead {
    // Accessibly hide <thead> on narrow viewports
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;

    @include media($medium) {
      // Unhide <thead> on wide viewports
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }

    th {
      //background-color: rgba(29,150,178,1);
      //border: 1px solid rgba(29,150,178,1);
      border-bottom:2px solid;
      border-top: 2px solid;
      font-weight: normal;
      text-align: center;
      font-weight: 700;
      //color: white;

      &:first-of-type {
        text-align: left;
      }
    }
  }

  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  tr {
    @include media($medium) {
      // Undo display: block
      display: table-row;
    }
  }

  th,
  td {
    padding: .5em;
    vertical-align: middle;

    @include media($small) {
      padding: .75em .5em;
    }

    @include media($medium) {
      // Undo display: block
      display: table-cell;
      padding: .5em;
    }

    @include media($large) {
      padding: .75em .5em;
    }

    @include media($xlarge) {
      padding: .75em;
    }
  }

  caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;

    @include media($medium) {
      font-size: 1.5em;
    }
  }

  tfoot {
    font-size: .8em;
    font-style: italic;

    @include media($large) {
      font-size: .9em;
    }
  }

  tbody {
    @include media($medium) {
      // Undo display: block
      display: table-row-group;
    }

    tr {
      margin-bottom: 1em;
      //border: 2px solid rgba(29,150,178,1);


      @include media($medium) {
        // Undo display: block
        display: table-row;
        border-width: 1px;
        border-bottom:1px solid;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &:nth-of-type(even) {
        @include media($medium) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }

    th[scope="row"] {
      //background-color: rgba(29,150,178,1);
      //color: white;
      background-color: rgba(94,93,82,.1);
      text-align:center;


      @include media($medium) {
        background-color: transparent;
        color: rgba(94,93,82,1);
        text-align: left;
      }
    }

    td {
      text-align: right;

      @include media($small) {
        //border-bottom: 1px solid  rgba(29,150,178,1);
        border-bottom:1px solid;
      }

      @include media($medium) {
        text-align: center;
      }
    }

    td[data-type=currency] {
      text-align: right;
    }

    td[data-title]:before {
      content: attr(data-title);
      float: left;
      font-size: .8em;
      //color: rgba(94,93,82,1);

      @include media($small) {
        font-size: .9em;
      }

      @include media($medium) {
        // Don’t show data-title labels
        content: none;
      }
    }
  }
}
